<div class="fos_user_user_show">
    <p>Vous serez redirigé vers l'accueil du site dans quelques secondes ... (pour y accéder directement, <a href="http://www.sanspapier.com">veuillez cliquer ici</a>)
</div>
<script>
window.setTimeout("location=('http://www.sanspapier.com');",5000);
</script>